<html>
<head>
<title>$i18n.getText("projectx.custom-field-manager.label")</title>
<meta name="decorator" content="atl.admin">
$webResourceManager.requireResource("com.demich.projectx:projectx-resources")
</head>
<body>
	<h2>Yo $username</h2>
	<p>List of custom fields visibility for given project</p>

	<table>
		<tr>
			<th></th> #foreach( $name in $fieldnames )
			<th class="rotate"><div><span>$name.name</span></div></th> #end
		</tr>
		#foreach( $project in $projects )
		<tr>
			<td>$project.name</td> #foreach( $name in
			$hfmapping.get("$project.name"))
			<td><input id="checkBox" type="checkbox" #if(!$name.Second)
				checked #end></td> #end
		</tr>
		#end
	</table>

	<form id="admin" class="aui" action="">
		<div class="field-group">
			<label for="name">$i18n.getText("projectx.custom-field-manager.name.label"):</label> <input type="text" id="name"
				name="name" class="text">
		</div>
		<div class="field-group">
			<label for="time">$i18n.getText("projectx.custom-field-manager.time.label"):</label> <input type="text" id="time"
				name="time" class="text">
		</div>
		<div class="field-group">
			<input type="submit" value="$i18n.getText("projectx.custom-field-manager.save.label")" class="button">
		</div>
	</form>

</body>
</html>