<html>
<head>
<title>$i18n.getText("projectx.custom-field-manager.label")</title>
<meta name="decorator" content="atl.admin">
$webResourceManager.requireResource("com.demich.projectx:projectx-resources")
</head>
<body>
	<h2>Yo $username</h2>
	<p>List of custom fields visibility for given project</p>

	<table>
		<tr>
			<th></th> #foreach( $name in $fieldnames )
			<th class="rotate"><div><span>$name.name</span></div></th> #end
		</tr>
		#foreach( $project in $projects )
		<tr>
			<td>$project.name</td> #foreach( $name in
			$hfmapping.get("$project.name"))
			<td><input id="${project.key}-${name.first}" type="checkbox" class="hider" #if(!$name.Second)
				checked #end></td> #end
		</tr>
		#end
	</table>

	<button id="updatebutton" class="aui-button">Update</button>


</body>
</html>