<html>
<head>
<title>$i18n.getText("projectx.custom-field-manager.label")</title>
<meta name="decorator" content="atl.admin">
$webResourceManager.requireResource("com.demich.projectx:resources")
</head>
<body>
	<h2>Yo $username</h2>
	<p>List of custom fields currently residing on the server:</p>

	
	<table>
    #foreach( $name in $fieldnames )
        <tr>
          <td>
            $name.Name
          </td>
          <td>
            $name.Id
          </td>
          <td>
            $name.NameKey
          </td>
        </tr>
    #end
    </table>
	
</body>
</html>